<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr-FR" }}">
    <head>
        <meta charset="UTF-8">

        {% seo %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#157878">
        <link rel="stylesheet" href="{{ '/assets/css/lib.css?v=' | append: site.github.build_revision | relative_url }}" />
        <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link rel="stylesheet" href="{{ '/assets/css/main.css?v=' | append: site.github.build_revision | relative_url }}" />
    </head>
    <body>
        <section class="page-header">
            <h1 class="project-name">{{ site.title }}</h1>
            <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
            <!-- {% if site.github.is_project_page %} -->
            <!-- <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a> -->
            <!-- {% endif %} -->
            <!-- {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
            {% endif %} -->
        </section>
        <section class="page-header main-menu" role="menu">
            <nav role="menu">
                <a href="/chroniques/" class="btn{% if page.is_home %} active{% endif %}">Accueil</a>
                <a href="/chroniques/fantasy" class="btn{% if page.is_cof %} active{% endif %}">Chroniques Oubliées Fantasy</a>
                <a href="/chroniques/contemporain/" class="btn{% if page.is_coc %} active{% endif %}">Chroniques Oubliées : Contemporain</a>
                <a href="/chroniques/galactic/" class="btn{% if page.is_cog %} active{% endif %}">Chroniques Oubliées Galactiques</a>
            </nav>
        </section>
        <div class="container-fluid">
            <div class="row flex-xl-nowrap">
                <nav class="col-12 col-md3 col-xl-2 bd-sidebar navbar">
                    {% if page.category %}
                    {% assign menu = site.menus[page.category] %}
                    {% include menus.html %}
                    {% endif %}
                    <div class="bd-sidenav">
                        {% for tag in site.tags %}
                        {{ tag }}
                        {% endfor %}
                    </div>
                </nav>
                <nav class="d-none d-xl-block col-xl-2 bd-toc" role="toc">
                    {% include toc.html html=content class='section-nav' item_class='toc-entry.toc-h%level%' %}
                    <!-- <div class="section-nav">
                        {% for tag in page.tags %}
                        {{ tag }}
                        {% endfor %}
                    </div> -->
                </nav>
                <main class="main-content col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                    {{ content }}

                    <footer class="site-footer">
                        <span class="site-footer-credits">This page was generated by <a href="https://jekyllrb.com" target="_blank">Jekyll</a> on <a href="https://pages.github.com" target="_blank">GitHub Pages</a>.</span>
                    </footer>
                </main>
            </div>
        </div>
    </body>
</html>
